<web-app>
<context-param>
<param-name>name</param-name>
<param-value>vandana</param-value>

</context-param>

<servlet>
<servlet-name>test demo</servlet-name>
<servlet-class>servletcontext.demo.Test</servlet-class>
</servlet>

<servlet-mapping> 

<servlet-name>test demo</servlet-name>
<url-pattern>/demo</url-pattern>

</servlet-mapping>

</web-app>